/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layers 
#define DEFAULT 0

// Momentary Layers
#define SYMNUM  1
#define NAVI    2

// Toggle Layers
#define GAME    3
#define MEDIA   4

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
// _______________________________________________________________                ______________________________________________________________
// |    TAB    |    Q    |    W    |    E    |    R    |    T    |                |    Y    |    U    |    I    |    O    |    P    |    ESC   |
      &kp TAB    &kp Q     &kp W     &kp E     &kp R     &kp T                      &kp Y     &kp U     &kp I     &kp O     &kp P    &kp ESC
// _______________________________________________________________                ______________________________________________________________
// |    SHFT   |    A    |    S    |    D    |    F    |    G    |                |    H    |    J    |    K    |    L    |  ; (:)  |   ' (")  |
      &kp LSHFT  &kp A     &kp S     &kp D     &kp F     &kp G                      &kp H     &kp J     &kp K     &kp L    &kp SEMI   &kp SQT
// _______________________________________________________________                ______________________________________________________________
// |    CTRL   |    Z    |    X    |    C    |    V    |    B    |                |    N    |    M    |   , (<) |   . (>) |  / (?)  |   ALT    |
     &kp LCTRL   &kp Z     &kp X     &kp C     &kp V     &kp B                      &kp N     &kp M    &kp COMMA  &kp DOT   &kp FSLH  &kp RALT
// _______________________________________________________________                ______________________________________________________________
//               (GUI is windows)->|   GUI   |   NAVI  |   ENT   |                |  BKSP   |   SPC   |  SYMNUM  | 
                                    &kp LGUI  &mo NAVI   &kp RET                   &kp BSPC  &kp SPACE &mo SYMNUM
//                                 _______________________________                _______________________________
                        >;
                };
                symbols_numbers_layer {
                        bindings = <
// _______________________________________________________________                ______________________________________________________________
// |    TAB    |    !    |    @    |    #    |    $    |    %    |                |    ^    |    &    |    *    |    (    |    )    |     \    |
      &kp TAB    &kp EXCL  &kp AT    &kp HASH  &kp DLLR &kp PRCNT                  &kp CARET  &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSLH
// _______________________________________________________________                ______________________________________________________________
// |   SHFT    |    1    |    2    |    3    |    4    |    5    |                |  - (_)  |  = (+)  |  ` (~)  |   [ ({) |  ] (})  |   "|"    |
     &kp LSHFT   &kp N1    &kp N2    &kp N3    &kp N4    &kp N5                    &kp MINUS &kp EQUAL &kp GRAVE  &kp LBKT  &kp RBKT  &kp PIPE
// _______________________________________________________________                ______________________________________________________________
// |    CTRL   |    6    |    7    |    8    |    9    |    0    |                |    _    |    +    |    ~    |    {    |    }    |   RSHFT  |
     &kp LCTRL   &kp N6    &kp N7    &kp N8    &kp N9    &kp N0                    &kp UNDER  &kp PLUS &kp TILDE  &kp LBRC  &kp RBRC  &kp RSHFT
// _______________________________________________________________                ______________________________________________________________
//                                 |   GUI   |   ALT   |   SPC   |                |         |         |         |
                                    &kp LGUI  &kp LALT  &kp SPACE                    &trans    &trans    &trans
//                                 _______________________________                _______________________________
                        >;
                };

                navigation_layer {
                        bindings = <
// _______________________________________________________________                ______________________________________________________________
// |     F1    |    F2   |    F3   |    F4   |    F5   |    F6   |                |    F7   |    F8   |    F9   |   F10   |   F11   |    F12   |
      &kp F1     &kp F2    &kp F3    &kp F4    &kp F5    &kp F6                     &kp F7    &kp F8    &kp F9    &kp F10   &kp F11    &kp F12
// _______________________________________________________________                ______________________________________________________________
// |    SHFT   |   ALT   |   HOME  |   END   |   PGUP  |  PGDWN  |                |         |   LFT   |   DWN   |    UP   |   RGT   | PRNT SCN |
     &kp LSHFT  &kp LALT  &kp HOME   &kp END  &kp PG_UP &kp PG_DN                   &trans  &kp LEFT  &kp DOWN    &kp UP  &kp RIGHT   &kp PSCRN
// _______________________________________________________________                ______________________________________________________________
// |   BTCLR   |   BT1   |   BT2   |   BT3   |   BT4   |   BT5   |                |  INSRT  |   DEL   |         |         | TG MEDIA| TG GAME  |
   &bt BT_CLR  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4     &kp INS   &kp DEL    &trans    &trans &tog MEDIA  &tog GAME
// _______________________________________________________________                ______________________________________________________________
//                                 |         |         |         |                |   CTRL  |         |         |
                                      &trans    &trans   &trans                    &kp RCTRL   &trans    &trans
//                                 _______________________________                _______________________________
                        >;
                };
                
                game_layer {
                        bindings = <
// _______________________________________________________________                ______________________________________________________________
// |    TAB    |    Q    |    W    |    E    |    R    |    T    |                |    Y    |    U    |    I    |   UP    |    P    |   BKSP   |
      &kp TAB    &kp Q     &kp W     &kp E     &kp R     &kp T                      &kp Y     &kp U      &kp I    &kp UP     &kp P    &kp BSPC
// _______________________________________________________________                ______________________________________________________________
// |    SHFT   |    A    |    S    |    D    |    F    |    G    |                |    H    |    J    |   LFT   |   DWN   |   RGT   |   ' (")  |
      &kp LSHFT  &kp A     &kp S     &kp D     &kp F     &kp G                      &kp H       &kp J  &kp LEFT  &kp DOWN  &kp RIGHT  &kp SQT
// _______________________________________________________________                ______________________________________________________________
// |     4     |    Z    |    X    |    C    |    V    |    B    |                |    N    |    M    |   , (<) |   . (>) |  / (?)  | Tog Game |
       &kp N4     &kp Z     &kp X     &kp C     &kp V     &kp B                      &kp N     &kp M    &kp COMMA  &kp DOT   &kp FSLH  &tog GAME
// _______________________________________________________________                ______________________________________________________________
//                                 |    M    |   CTRL  |   SPC   |                |   ENT   |         |   ALT   |
                                      &kp M   &kp LCTRL &kp SPACE                   &kp RET    &trans   &kp RALT
//                                 _______________________________                _______________________________
                        >;
                };
                
                media_layer {
                        bindings = <
// _______________________________________________________________                ______________________________________________________________
// |   VOL UP  |         |         |   STOP  |         |         |                |         |         |         |         |         |          |
    &kp C_VOL_UP  &trans    &trans  &kp C_STOP  &trans    &trans                    &trans     &trans    &trans    &trans    &trans    &trans
// _______________________________________________________________                ______________________________________________________________
// |  VOL DWN  |   PREV  |   RWND  | PLY/PSE | FST FRWD|   NEXT  |                |         |         |         |         |         |          |
   &kp C_VOL_DN &kp C_PREV &kp C_RW  &kp C_PP &kp C_FF  &kp C_NEXT                  &trans     &trans    &trans    &trans    &trans    &trans
// _______________________________________________________________                ______________________________________________________________
// |    MUTE   |         |         |         |         |         |                |         |         |         |         | TG MEDIA|          |
     &kp C_MUTE   &trans    &trans    &trans    &trans    &trans                    &trans     &trans   &trans    &trans   &tog MEDIA  &trans
// _______________________________________________________________                ______________________________________________________________
//                                 |         |         |         |                |         |         |         |
                                      &trans    &trans    &trans                    &trans    &trans    &trans
//                                 _______________________________                _______________________________
                        >;
                };
        };
};
